@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        <header class="header">
            <h1>Vinlotteri</h1>
            <div class="header-image">
                <img src="/vinglass.jpg" />
            </div>
        </header>
        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>
